<footer role="contentinfo" class="footer container-fluid">


        <!--<img class="img-responsive center-block" style="max-width: 800px;" src="{{url_for('static',filename='custom/images/banniere_feder.jpg')}}">-->

      <!--  <div class="panel">
            <img style="max-height: 100px;" src="{{url_for('static',filename='custom/images/UE.jpg')}}" >
            <img style="max-height: 100px;" src="{{url_for('static',filename='custom/images/picto_europe_eng.jpg')}}" > 
            <img style="max-height: 100px;" src="{{url_for('static',filename='custom/images/DREAL.jpg')}}" > 
            <img style="max-height: 100px;" src="{{url_for('static',filename='custom/images/HDF.jpg')}}" >
            <br><br>
            <span style="max-width: 75px;">Les actions menées par Picardie Nature sont permises par le soutien et la participations des adhérents, des donateurs et des bénévoles ainsi que par la collaboration et l'aide de différents partenaires</span>
            <img style="max-height: 100px" src="{{url_for('static',filename='custom/images/AEAP_web.jpg')}}" >
            <img style="max-height: 100px" src="{{url_for('static',filename='custom/images/picto_agence_eau_h.png')}}" >
            <img style="max-height: 100px" src="{{url_for('static',filename='custom/images/picto_cg02.png')}}" >
            <img style="max-height: 100px" src="{{url_for('static',filename='custom/images/cg60.jpg')}}" >
        </div> -->


        <div class="panel" style="line-height:1">
            <div class="row">
                <div class="col-xs-2 text-right" >
                    <span style="font-size:70% ">"L'observatoire faune en Picardie" et "l'opération faune protégée et bâtiments" sont cofinancés par le FEDER dans le cadre du programme opérationnel FEDER-FSE pour la Picardie</span>
                </div>
                <div class="col-xs-10 text-left" > 
                <a href="https://europe-en-hautsdefrance.eu/"><img style="height:70px;margin:5px" src="{{url_for('static',filename='custom/images/picto_europe_eng.png')}}" /></a>
                <a href="http://www.europa.eu/"><img style="height:70px;margin:5px" src="{{url_for('static',filename='custom/images/UE.png')}}" /></a>
                <a href="http://www.developpement-durable.gouv.fr/"><img style="height:70px;margin:5px" src="{{url_for('static',filename='custom/images/DREAL.png')}}" /></a>
                <a href="http://www.hautsdefrance.fr/"><img style="height:70px;margin:5px" src="{{url_for('static',filename='custom/images/HDF.png')}}" /></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 text-right" >
                    <span style="font-size:70%">Les actions menées par Picardie Nature sont permises par le soutien et la participations des adhérents, des donateurs et des bénévoles ainsi que par la collaboration et l'aide de différents partenaires</span>
                </div>
                 <div class="col-xs-10 text-left" >
                    <a href="http://www.eau-seine-normandie.fr/"><img style="height:70px;margin:5px" src="{{url_for('static',filename='custom/images/picto_agence_eau_h.png')}}" /></a>
                    <a href="http://www.eau-artois-picardie.fr/"><img style="height:70px;margin:5px" src="{{url_for('static',filename='custom/images/AEAP_web.png')}}" /></a>
                    <a href="https://www.aisne.com/"><img style="height:70px;margin:5px" src="{{url_for('static',filename='custom/images/picto_cg02.png')}}" /></a>
                    <a href="http://www.oise.fr/"><img style="height:70px;margin:5px" src="{{url_for('static',filename='custom/images/picto_cg60.png')}}" /></a>
                </div>
        
            </div>

        </div>

        <p>
            <a href="{{url_for('main.index')}}">Accueil</a> | 
            <a href="http://picardie-nature.org/" target="_blank">Site de {{configuration.STRUCTURE}}</a> <!--| 
            <a data-toggle="modal" href="{{url_for('static', filename='custom/templates/credits.html') }}" data-target="#modalCredits">Conception et crédits</a> |  
            <a data-toggle="modal" href="{{url_for('static', filename='custom/templates/mentions-legales.html') }}" data-target="#modalMentions">Mentions légales</a> -->
        <p>

        <div id="clear"> 
            <p class="text-muted">
                {{configuration.NOM_APPLICATION}} : La faune sauvage en un clic pour tous les Picards !
                <br/>
                Réalisé à partir de <a href="https://github.com/PnEcrins/GeoNature-atlas" target="_blank">GeoNature-atlas</a>, développé par le <a href="http://www.ecrins-parcnational.fr" target="_blank">Parc national des Ecrins</a>
            </p>
        </div>
    </footer>
    
    <div class="modal fade text-center" id="modalCredits">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>
    
    <div class="modal fade text-center" id="modalMentions">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>
    
    {% if configuration.ID_GOOGLE_ANALYTICS != "UA-xxxxxxx-xx" %}
    <!-- Script Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{configuration.ID_GOOGLE_ANALYTICS}}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
    
