<!-- Réalisée à partir de https://startbootstrap.com/template-overviews/one-page-wonder/ et http://getbootstrap.com/examples/carousel/ -->
<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8" />
        <title>Présentation de l'atlas | {{configuration.NOM_APPLICATION}} - {{configuration.STRUCTURE}}</title>

        <!-- Jquery -->
        <script type=text/javascript src="{{url_for('static', filename='lib/jquery-1.12.4.min.js') }}"></script>
		<script type=text/javascript src="{{url_for('static', filename='lib/jquery-ui.min.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='lib/jquery-ui.css') }}" />

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}"></link>
        <script type=text/javascript src="{{url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>

        <!-- Atlas -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='custom/images/favicon.ico') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/atlas.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/static_pages.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='custom/custom.css') }}" />

   </head>
   <body  data-spy="scroll" data-target="#sommaire">
    {% include 'templates/navbar.html' %}

		<div id="sideBar">
			{% include 'templates/sideBar.html' %}
		</div>
		<div class="container-fluid" id="page">

            <!--<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="500" id="sommaire">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#general">Général</a></li>
				<li><a href="#fonctionnalites">Fonctionnalités</a></li>
                <li><a href="#faune">Faune</a></li>
                <li><a href="#flore">Flore</a></li>
                <li><a href="#scientifique">Scientifique</a></li>
                <li><a href="#opensource">Open source</a></li>
                <li><a href="#reseaux">Réseaux</a></li>
              </ul>
            </nav>-->

            <div class="container presentation">
              <div class="col-lg-8">
                  <!-- Texte de présentation général -->

                  <h1 id="general">Clicnat <small><p>La plateforme GeoNature en Picardie</p></small></h1>

                    <p class="lead">
                        Clicnat est une base de données faunistique collaborative. Elle permet à tous les picards de saisirs, gérer et valoriser leurs observations de faune sauvage.
                    </p>

                <div class="featurette">
                    <h2> Une synthèse de la connaisance de la faune en Picardie</h2>
                    <img class="featurette-image img-circle img-responsive pull-left" style="max-width:250px" src="{{url_for('static', filename='custom/images/naturaliste_dos.jpg')}}">
                  <p class="lead">Cet atlas présente une synthèse des connaissances acquises par Picardie Nature et ses partenaires. La base Clicnat est principalement alimentée par un réseaux de naturalistes bénévoles. 
                Plusieurs structures partenaires contribuent y également.
                </div>  

                <div class="featurette">
                    <h2> Vers une protection plus efficace de la biodiversité</h2>
                    <img class="featurette-image img-circle img-responsive pull-right" style="max-width:250px" src="{{url_for('static', filename='custom/images/bord_route.jpg')}}">
                  <p class="lead"><i>Mieux connaitre pour mieux protéger !</i> La base Clicnat à vocation à centraliser et gérer la connaissance naturaliste acquise au cours de nombreuses années en Picardie.
                    Les observations intégrant Clicnat servent à protéger la nature de différentes façon. Elles sont notamment utilisées par les pouvoirs publics afin de prendre en compte de manière efficace la biodiversité
                    dans les projets d'aménagement du territoire. Les données sont également utiliser pour étudier la répartition des espèces au niveau régional ou supra-régionnal.
                </div>  

                <div class="featurette">
                   <h2> Le projet Clicnat </h2>
                    <p class="lead">Initié en 2009 sous licence ouverte par Picardie Nature, la base Clicnat permet à tout naturaliste, débutant ou confirmé, de contribué à la connaissance et sauvegarde de la biodiversité en saissisant
                    ses observation en ligne. L'outil s'étoffe et intégre des possibilités d'exploration des données, gestion de validation, de protocoles, etc.
                    Dix ans plus tard, l'outil Clicnat connait une profonde refonte : le coeur de l'outil est remplacé par <a href='https://geonature.fr/'>GeoNature</a>, une application libre développée par les Parcs nationaux de France.
                    Toujours portée par Picardie Nature, Clicnat rejoint une communauté d'acteurs (Parcs, associations, etc.) fédérée par un outil commun et modulaire</p>
                </div>

              </div>
              <div class="col-lg-4" style="background:#f4f4f4; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
               <p><mark><i>Mot des coordinateurs</i></mark></p>
              </div>
              <div style="clear: both;"></div>

              <hr class="featurette-divider">

              

		{% if configuration.AFFICHAGE_FOOTER %}
			{% include 'static/custom/templates/footer.html' %}
		{% endif %}

       

        <script src="{{url_for('static', filename='main.js') }}"></script>

   </body>
</html>
