@font-face {
    font-family: picnatpicto2020;
    src: url("fonts/PICNATPICTO2020.otf") format("opentype");
}


.pn {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-size:45px;
  vertical-align:middle;
}




.pn-fly,
.pn-snake, 
.pn-frog,
.pn-amplexus,
.pn-newt,
.pn-dragonfly,
.pn-ant,
.pn-bee,
.pn-beetle,
.pn-bird,
.pn-owl,
.pn-bird-of-prey,
.pn-swallow,
.pn-duck,
.pn-wader,
.pn-martens,
.pn-deer,
.pn-mousse,
.pn-grasshopper,
.pn-ladybug,
.pn-butterfly,
.pn-night_butterfly,
.pn-bat,
.pn-spider,
.pn-fish,
.pn-shell,
.pn-bug,
.pn-seal,
.pn-dolphin,
.pn-wasp,
.pn-binocular
{
  font-family:"picnatpicto2020"
}
.pn-fly:before {
  content: "A";
}
.pn-snake:before {
  content: "B";
}
.pn-frog:before {
  content: "C";
}
.pn-amplexus:before {
  content: "\00E1";
}
.pn-newt:before { /*triton*/
  content: "\00DD";
}
.pn-dragonfly:before {
  content: "F";
}
.pn-ant:before {
  content: "R";
}
.pn-bee:before {
  content: "Z";
}
.pn-beetle:before {
  content: "E";
}
.pn-bird:before {
  content: "G";
}
.pn-owl:before {
  content: "H";
}
.pn-bird-of-prey:before {
  content: "K";
}
.pn-swallow:before {
  content: "L";
}
.pn-duck:before {
  content: "J";
}
.pn-wader:before {
  content: "M";
}
.pn-martens:before {
  content: "a";
}
.pn-deer:before {
  content: "r";
}
.pn-mousse:before {
  content: "e";
}
.pn-grasshopper:before {
  content: "S";
}
.pn-night_butterfly:before{
  content: "T";
}
.pn-ladybug:before {
  content: "O";
}
.pn-butterfly:before {
  content: "Q";
}
.pn-bat:before {
  content: "X";
}
.pn-spider:before {
  content: "I";
}
.pn-fish:before {
  content: "N";
}
.pn-shell:before {
  content: "D";
}
.pn-bug:before {
  content: "P";
}
.pn-seal:before {
  content: "z";
}
.pn-dolphin:before {
  content: "V";
}
.pn-wasp:before {
  content: "Y";
}
.pn-binocular:before {
  content: "\0021";
}



