<ul id="sidebar_menu" class="sidebar-nav">
  <a href="{{url_for('main.index')}}" id="menu-toggle" data-toggle="tooltip" data-original-title="Retour à l'accueil" data-placement="right">
    <li class="sidebar-brand"><span id="main_icon" class="glyphicon glyphicon-home"></span></li>
  </a>
  <a href="https://oursin.clicnat.fr" target="_blank" id="menu-toggle" data-toggle="tooltip" data-original-title="Outil de Restitution et de Synthèse de l'Information Naturaliste" data-placement="right">
    <li class="sidebar-brand" style="padding-top:2px;padding-bottom:2px"><img  class="img-responsive" style="padding:10%" src="{{url_for('static',filename='images/logo_oursin_blanc.png')}}"></li>
  </a>

  {% for page_key, page_values in configuration.STATIC_PAGES.items()|sort(attribute='1.order') %}
    <a href="{{url_for('main.get_staticpages', page=page_key)}}" data-toggle="tooltip"
      data-original-title="{{page_values.title}}" data-placement="right">
      <li class="sidebar-brand"><span class="glyphicon {{page_values.picto}}"></span></li>
    </a>
  {% endfor %}

  <a href="{{url_for('main.photos')}}" data-toggle="tooltip" data-original-title="Galerie photos" data-placement="right">
    <li class="sidebar-brand"><span class="glyphicon glyphicon-camera"></span></li>
  </a>
   <a href="https://forum.clicnat.fr" target="_blank" id="menu-toggle" data-toggle="tooltip" data-original-title="Forum" data-placement="right">
    <li class="sidebar-brand" style="font-size:200%"><i class="fab fa-discourse"></i></li>
  </a>
  <a href="https://aide.clicnat.fr" target="_blank" id="menu-toggle" data-toggle="tooltip" data-original-title="Aide et contact" data-placement="right">
    <li class="sidebar-brand" style="font-size:200%"><i class="fas fa-headset"></i></li>
  </a>
</ul>
